.bold-text {
  font-family: "Montserrat", sans-serif;
}
.bold-text h1 {
  font-size: 65px;
  color: rgb(73, 73, 73);
}
.reduce-margin {
  margin-top: -50px;
}

.flex {
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

.equal-area {
  width: 50%;
  margin-left: 10%;
}

#img-size-sec1 {
  width: 85%;
  margin-top: -30px;
  margin-left: -200px;
}

span {
  color: orange;
}
#sec1-p {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 25px;
  padding-bottom: 55px;
}
.anchor-style {
  text-decoration: none;
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(to left, tomato, orange);
  padding: 20px 40px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#sec1-ank {
  margin-top: 50px;
}

#bgimg-sec2 {
  background-image: url(images/sec2bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#sec2-div2-hading {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 30px;
}

#sec2-div2-p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-right: 300px;
  padding-bottom: 75px;
}
#img-size-sec2 {
  width: 85%;
  margin-top: 30px;
  margin-left: 120px;
}
